@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --background-secondary: #151515;
  --background-elevated: #1d1d1d;
  --foreground: #ffffff;
  --foreground-secondary: #e8e8e8;
  --foreground-muted: #8a8a8a;
  --color-primary: #17b982;
  --color-primary-hover: #17b982;
  --border: #2a2a2a;
  --divider: #333333;
  --color-success: #2e4f3e;
  --color-warning: #6d5937;
  --font-heading: var(--font-inter);
  --font-body: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes scan {
  0% {
    top: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.animate-scan {
  animation: scan 6s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  width: max-content;
}
html {
  scroll-behavior: smooth;
}
